/* global */

	body {
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	width: 98%;
	background-repeat: no-repeat;
	height: auto;
	background-color:#f9f9f9;
    -webkit-touch-callout: none;
   -webkit-user-select: none; 
   -webkit-transform: translateZ(0);
} 
	
	#wrapper {
	margin: 0 auto;
	width: auto;
	border-style: none;
	height: auto;
}

	#LoginWrapper {
	margin: 0 auto;
	width: 30%;
	border-style: none;
	height: auto;
}

/* main */

	#header {
	width: 100%;
	float:left;
	height: 60px;
	
}
	.Logo {
	width: 14%;
	float: left;
	height: 50px;
	padding-left: 20px;
	margin-top:10px;
}
	.welcome {	
	width: 20%;
	float: right;
	height: auto;
	padding-right: 20px;
	padding-top:2px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	text-align:right;	
	font-weight:normal;
	margin-top:10px;
        color: #666; 
	
}
        .Content{	
        height: auto;
	font-family:Arial , Helvetica, sans-serif;
	font-size:10px;	
	font-weight:normal;       
        color: #666;
        margin-top:10px;
       
	
}

			
	.page-title {
	width: 83%;
	margin:10px 3px 5px 0;
	padding: 0 0 0 0;
	float: right;
	height: 35px;
	line-height:35px;
	font-family: "Times New Roman", Times, serif;
	font-style:oblique;
	font-size:24px;
	word-spacing:2px;
	font-weight:bold;
	text-align:left;
	color:#ff0000;
}
	.main-content {
	width: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	height: 100%;
	float:left;
        font-family:Arial;
        font-size:10px;
}
	.left-menu {
	width: 16%;
	margin: 10px 0 5px 10px;
	padding: 0 0 5px 0;
	float:left;
	height: 85%;
	background-color:#f0f0f0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border:1px solid #e4e4e4;
	position:absolute;
	left: 1px;
	top: 70px;
}
	.right-content {
	width: 80%;
	margin: 0 10px 5px 0;
	padding: 10px 10px 15px 10px;
	float: right;
	height: 100%;
	border:1px solid #eee;
	background-color:#fff;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
}
	



<!--
#table-design thead {
	width: 100%;
        
}
-->

#table-design {
    border-collapse:collapse;
    border: 1px solid black;
    width: 100%;
}
#table-design td {
	padding: 5px 5px 5px 0;
	text-align:right;
         border: 1px solid black; 
}
#table-design thead th {
	padding-right: 10px;
	text-align: center;
         border: 1px solid black;
}

#table-data {
    border-collapse:collapse;
    border: 1px solid black;
    width: 100%;
    font-size: 8px;
}
#table-data td {
	
	text-align:right;
         border: 1px solid black;
	 height: 5px;
}

#table-data thead th {
	padding-right: 10px;
	vertical-align:top;
    text-align: center;
    border: 1px solid black;
}

#table-data thead th.title {
	padding-left: 10px;
	text-align: left;
    border: 1px solid black;
}

#table-data thead th.content {
    width:80px;
	padding: 10px 5px 5px 0;
	vertical-align:top;
    text-align: center;
    border: 1px solid black;
}

#table-data thead th.contentSmall {
    width:10px;
	padding: 10px;
	vertical-align:top;
    text-align: center;
    border: 1px solid black;
}

#table-data thead th.contentLeft {
    width:80px;
	padding: 5px;
	vertical-align:top;
    text-align: left;
    border: 1px solid black;
}

#table-data thead th.contentSmallLeft {
    width:10px;
	padding: 5px;
	vertical-align:top;
    text-align: left;
    border: 1px solid black;
}

#table-data thead th.contentRight {
    width:80px;
	padding: 5px;
	vertical-align:top;
    text-align: right;
    border: 1px solid black;
}

#table-data thead th.contentSmallRight {
    width:10px;
	padding: 5px;
	vertical-align:top;
    text-align: right;
    border: 1px solid black;
}

#table-data thead th.contentSmallRight {
    width:10px;
	padding: 5px;
	vertical-align:top;
    text-align: right;
    border: 1px solid black;
}

#table-data-first {
    border-collapse:collapse;
    border: 0px solid black;
    width: 100%;
    font-size: 8px;
}
#table-data-first td {
	
	text-align:right;
         border: 0px solid black;
	 height: 5px;
}

#table-data-first thead th {
	padding-right: 10px;
	vertical-align:top;
    text-align: center;
    border: 0px solid black;
}

#table-data-first thead th.title {
	padding-left: 10px;
	text-align: left;
    border: 0px solid black;
}

#table-data-first thead th.content {
    width:80px;
	padding: 10px 5px 5px 0;
	vertical-align:top;
    text-align: center;
    border: 0px solid black;
}

#table-data-first thead th.contentSmall {
    width:10px;
	padding: 10px;
	vertical-align:top;
    text-align: center;
    border: 0px solid black;
}

#table-data-first thead th.contentLeft {
    width:80px;
	padding: 5px;
	vertical-align:top;
    text-align: left;
    border: 0px solid black;
}

#table-data-first thead th.contentSmallLeft {
    width:10px;
	padding: 5px;
	vertical-align:top;
    text-align: left;
    border: 0px solid black;
}

#table-data-first thead th.contentRight {
    width:80px;
	padding: 5px;
	vertical-align:top;
    text-align: right;
    border: 0px solid black;
}

#table-data-first thead th.contentSmallRight {
    width:10px;
	padding: 5px;
	vertical-align:top;
    text-align: right;
    border: 0px solid black;
}

#table-data-first thead th.contentSmallRight {
    width:10px;
	padding: 5px;
	vertical-align:top;
    text-align: right;
    border: 0px solid black;
}

#table-data-pds {
    border-collapse:collapse;
    border: 1px solid black;
    width: 100%;
    font-size: 8px;
}
#table-data-pds td {
	
	text-align:right;
         border: 1px solid black;
	 height: 5px;
}

#table-data-pds thead th {
	padding-right: 10px;
	vertical-align:top;
    text-align: center;
    border: 1px solid black;
}

#table-data-pds thead th.title {
	padding-left: 10px;
	text-align: left;
    border: 1px solid black;
}

#table-data-pds thead th.content {
    width:80px;
	padding: 10px 5px 5px 0;
	vertical-align:top;
    text-align: center;
    border: 1px solid black;
}

#table-data-pds thead th.contentSmall {
    width:10px;
	padding: 10px;
	vertical-align:top;
    text-align: center;
    border: 1px solid black;
}

#table-data-pds thead th.contentLeft {
    width:80px;
	padding: 5px;
	vertical-align:top;
    text-align: left;
    border: 1px solid black;
}

#table-data-pds thead th.contentSmallLeft {
    width:10px;
	padding: 5px;
	vertical-align:top;
    text-align: left;
    border: 1px solid black;
}

#table-data-pds thead th.contentRight {
    width:80px;
	padding: 5px;
	vertical-align:top;
    text-align: right;
    border: 1px solid black;
}

#table-data-pds thead th.contentSmallRight {
    width:10px;
	padding: 5px;
	vertical-align:top;
    text-align: right;
    border: 1px solid black;
}

#table-data-pds thead th.contentSmallRight {
    width:10px;
	padding: 5px;
	vertical-align:top;
    text-align: right;
    border: 1px solid black;
}






#table-notes {
    border-collapse:collapse;
    border: 0px solid black;
    width: 100%;
}
#table-notes td {
	padding: 5px 5px 5px 0;
	text-align:left;
    border: 0px solid black;
}
#table-notes thead th {
	padding-right: 10px;
	vertical-align:top;
    text-align: center;
    border: 0px solid black;
}









#table-design1 {
	
    border-collapse:collapse;
    border: 1px solid black;
    width: 100%;

        
}
#table-design1 td {
	padding: 5px 5px 5px 5px;
	text-align:left;
    border: 1px solid black;
    vertical-align: text-top;
}

#table-design1 th.content {
	width:88%;
	padding: 5px 5px 5px 5px;
	text-align:left;
    border: 1px solid black; 
}

#table-design1 th.contentSmall {
	width:12%;
	padding: 5px 5px 5px 5px;
	text-align:left;
    border: 1px solid black; 
}

#table-design1 th.contentExtraSmall {
	width:7%;
	padding: 5px 5px 5px 5px;
	text-align:left;
	border: 1px solid black; 
}


#table-design1 td.content {
	width:88%;
	padding: 5px 5px 5px 5px;
	text-align:left;
    border: 1px solid black;
    vertical-align: text-top; 
}

#table-design1 td.contentSmall {
	width:12%;
	padding: 5px 5px 5px 5px;
	text-align:left;
    border: 1px solid black;
    vertical-align: text-top;
}

#table-design1 td.contentExtraSmall {
	width:7%;
	padding: 5px 5px 5px 5px;
	text-align:left;
    border: 1px solid black;
    vertical-align: text-top;
}


#table-design2 {
	
    border-collapse:collapse;
    border: 1px solid black;
    width: 40%;

}
#table-design2 td {
	padding: 5px 5px 5px 5px;
	text-align:center;
         border: 1px solid black; 
}

#table-design2Wide {
	
    border-collapse:collapse;
    border: 1px solid black;
    width: 70%;

}
#table-design2Wide td {
	padding: 5px 5px 5px 5px;
	text-align:center;
         border: 1px solid black; 
}

#table-design3 {
	
    border-collapse:collapse;    
    width: 40%;

        
}
#table-design3 td {
	padding: 5px 5px 5px 5px;
	text-align:left;
         
}
#table-design3 thead th {
	padding-right: 10px;
	text-align: center;
         border: 1px solid black;
}


/* footer */
		
	.footer {	
	clear: both; 
	width: 100%; 	
	bottom: 0; 
	border: none; 
	padding: 13px 0 0 0; 
	text-align: left;  
	background-color: #fff;
	font-family:Arial;
	font-size:10px;
	font-weight:normal;
}
	.footer1 {
    position: fixed; 	
	clear: both; 
	width: 100%; 	
	bottom: 0; 
	border: none; 
	padding: 13px 0 0 0; 
	text-align: center; 
	color: #666; 
	background-color: #ddd;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
}

	.hrule {
	width: 100%;
	height:2px;
	color: #000;
	background-color: #000;
}

