<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Race</key>
	<array>
		<string>CHINESE</string>
		<string>INDIAN</string>
		<string>MALAY</string>
		<string>OTHERS</string>
	</array>
</dict>
</plist>
