/* global */

	body {
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	width: 100%;
	background-repeat: no-repeat;
	height: auto;
	background-color:#f9f9f9;
} 
	
	#wrapper {
	margin: 0 auto;
	width: auto;
	border-style: none;
	height: auto;
}

	#LoginWrapper {
	margin: 0 auto;
	width: 30%;
	border-style: none;
	height: auto;
}

/* main */

	#header {
	width: 100%;
	float:left;
	height: 60px;
	
}
	.Logo {
	width: 14%;
	float: left;
	height: 50px;
	padding-left: 20px;
	margin-top:10px;
}
	.welcome {	
	width: 20%;
	float: right;
	height: auto;
	padding-right: 20px;
	padding-top:2px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	text-align:right;	
	font-weight:normal;
	margin-top:10px;
        color: #666; 
	
}
        .Content{	
        height: auto;
	font-family:Arial , Helvetica, sans-serif;
	font-size:10px;	
	font-weight:normal;       
        color: #666;
        margin-top:10px;
       
	
}

			
	.page-title {
	width: 83%;
	margin:10px 3px 5px 0;
	padding: 0 0 0 0;
	float: right;
	height: 35px;
	line-height:35px;
	font-family: "Times New Roman", Times, serif;
	font-style:oblique;
	font-size:24px;
	word-spacing:2px;
	font-weight:bold;
	text-align:left;
	color:#ff0000;
}
	.main-content {
	width: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	height: 100%;
	float:left;
        font-family:Arial;
        font-size:10px;
}
	.left-menu {
	width: 16%;
	margin: 10px 0 5px 10px;
	padding: 0 0 5px 0;
	float:left;
	height: 85%;
	background-color:#f0f0f0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border:1px solid #e4e4e4;
	position:absolute;
	left: 1px;
	top: 70px;
}
	.right-content {
	width: 80%;
	margin: 0 10px 5px 0;
	padding: 10px 10px 15px 10px;
	float: right;
	height: 100%;
	border:1px solid #eee;
	background-color:#fff;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
}
	




#table-design thead {
	width: 100%;
        
}
#table-design {
	
    border-collapse:collapse;
    border: 1px solid black;
    width: 100%;

        
}
#table-design td {
	padding: 5px 5px 5px 0;
	text-align:right;
         border: 1px solid black; 
}



#table-design thead th {
	padding-right: 10px;
	text-align: center;
         border: 1px solid black;
}



/* footer */
		
	.footer {	
	clear: both; 
	width: 100%; 	
	bottom: 0; 
	border: none; 
	padding: 13px 0 0 0; 
	text-align: center; 
	color: #666; 
	background-color: #ddd;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
}
	.footer1 {
        position: fixed; 	
	clear: both; 
	width: 100%; 	
	bottom: 0; 
	border: none; 
	padding: 13px 0 0 0; 
	text-align: center; 
	color: #666; 
	background-color: #ddd;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
}

